<h1>Create Comment</h1>

<%= form_with url: user_post_comments_path(current_user, @post), scope: user_post_comments_url do |f| %>
  <%= f.label :text %>
  <%= f.text_area :text %>

  <%= f.submit 'Add Comment' %>
<% end %>